<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opsdesk.system.mapper.SystemConfigMapper">
    <select id="findByGroup" resultType="com.opsdesk.system.entity.SystemConfig">
        SELECT id, config_key, config_value
        FROM system_config
        WHERE config_group = #{group} AND deleted = 0
        ORDER BY id ASC
    </select>
    <select id="search" resultType="com.opsdesk.system.entity.SystemConfig">
        SELECT id, config_key, config_value, config_group, description, editable, `sensitive`
        FROM system_config
        WHERE deleted = 0
        <if test="group != null and group != ''">AND config_group = #{group}</if>
        <if test="keyword != null and keyword != ''">
            AND (config_key LIKE CONCAT('%', #{keyword}, '%')
              OR description LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        ORDER BY config_group ASC, config_key ASC
    </select>
    <update id="updateValue">
        UPDATE system_config
        SET config_value = #{value}, update_by = #{operatorId}, update_time = CURRENT_TIMESTAMP
        WHERE config_key = #{key} AND editable = 1 AND deleted = 0
    </update>
</mapper>
